.butterfly {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 50px auto;
  animation: flutter 2s infinite ease-in-out;
}

.wing {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle at center, pink 40%, magenta 100%);
  border-radius: 50% 0 0 50%;
  transform-origin: center;
}
.wings {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: 0px;
  margin-left: 105px;
  background: radial-gradient(circle at center, pink 40%, magenta 100%);
  border-radius: 0 50% 50% 0;
  transform-origin: center;
  z-index: -1;
}
.left-wing {
  left: 0;
  transform: rotate(-30deg);
}

.right-wing {
  right: 0;
  transform: rotate(30deg);
}

.body {
  position: absolute;
  top: 25px;
  left: 90px;
  width: 20px;
  height: 50px;
  background-color: darkslategray;
  border-radius: 10px;
}

@keyframes flutter {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}